.message-bubble {
  background-color: #d0d1ff;
  padding: 15px 10px;
  margin-bottom: 13px;
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.name-chat {
  font-family: 'Poppins', sans-serif;
}

.name-messages {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 15px;
}

.text-messages {
  margin-left: 25px;
  margin-bottom: 5px;
}

.time-message {
  margin-left: 177px;
  margin-right: 13px;
}

.combine-message {
  display: flex;
  justify-content: space-between;
}

.combine-message .far {
  margin-right: 19px;
}
