// Specific CSS for your home-page
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  margin-bottom: 114px;
}

.home-upperbody {
  position: relative;
  background-image: url(/assets/map.png);
  width: 100%;
  height: 48rem;
  background-size: contain;
}

// .home-header {
  // background-image: url(/assets/map.png);
  // width: 100%;
  // height: 48rem;
  // background-size: contain;
// }

.home-header {
  padding-top: 6rem;
}

.directions-control-instructions {
  display: none;
}

.home-header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  color: #323232;
  // padding-top: 5rem;
  padding-left: 1rem;
  text-align: center;
}

.home-header h1 span {
  color: #957fef;
  text-shadow: 1px 1px 3px rgb(98, 94, 98);
}

.home-header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  // font-weight: bold;
  padding-top: 2rem;
  padding-left: 1rem;
  text-shadow: 1px 1px 3px black;
}

.home-header img {
  width: 360px;
  margin: auto;
  display: block;
}

.container-home-location {
  // background: linear-gradient(90deg, #7161ef 0%, #957fef 53%, #b79ced 100%);
  background: linear-gradient(90deg,  #957fef 0%, #b79ced 53%, #cdbfe9 100%);
  border-radius: 10px;
  width: 20rem;
  margin: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 46%;
  padding: 10px;
  margin-top: 10px;
}

.container-home-location h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.map-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
  z-index: 999;
}
