.rides-profile-card {
  border-radius: 17px;
  margin: 1rem;
}

.notification-content-rides p strong {
  color: #670BFF;
}

.review-ride-title {
  margin: 1rem;
}

.add-rides {
  border-radius: 10px;
  margin: 1rem;
}
