.signup-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.signup-subtext {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.signup {
  margin: 2rem;
}

// .signup-form {
//   // background-color: #b79ced;
//

.signup-button {
  color: white;
  background-color: #b79ced;
  width: 83px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  // justify-content: center;
}
