<div class="tab-bar">
	<a href="#" class="link-to-pages">
		<span class="link-icon">
			<!-- Home icon -->
      <i class="fa-solid fa-house" style="color: #000000;"></i>
		</span>
		<span class="link-title">Home</span>
	</a>


	<a href="#" class="link-to-pages">
		<span class="link-icon">
			<!-- Booking icon -->
      <i class="fa-solid fa-book-open" style="color: #000000;"></i>
			<!-- /icon -->
		</span>
		<span class="link-title">Booking</span>
	</a>


	<a href="#" class="link-to-pages">
		<span class="link-icon">
			<!-- Car icon -->
      <i class="fa-solid fa-car" style="color: #000000;"></i>
			<!-- /icon -->
		</span>
		<span class="link-title">Add Ride</span>
	</a>

	<a href="#" class="link-to-pages">
		<span class="link-icon">
			<!-- Message icon -->
      <i class="fa-solid fa-message" style="color: #000000;"></i>
			<!-- /icon -->
		</span>
		<span class="link-title">Message</span>
	</a>


	<a href="#" class="link-to-pages">
		<span class="link-icon">
			<!-- Profile icon -->
      <i class="fa-solid fa-user" style="color: #000000;"></i>
			<!-- /icon -->
		</span>
		<span class="link-title">Profile</span>
	</a>
</div>
