<div class="home-upperbody">
  <div class="home-header">
    <h1>Get Started!</h1>
  </div>

  <div class="container-home-location">
    <h3>From:</h3>
    <h3>To:</h3>
    <h3>Date:</h3>
    <h3>No of passenger:</h3>
  </div>
</div>

<h1>MauRide - home page</h1>

<div>
  <h2>RIDE</h2>
  <p><%= link_to "Rides index", rides_path %></p>
  <p><%= link_to "Add a new ride", new_ride_path %></p>

  <h2> VEHICULE</h2>
  <p><%= link_to "Vehicles index", vehicules_path %></p>
  <p><%= link_to "Add a new vehicule", new_vehicule_path %></p>
</div>
