.message-box {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  background: #b79ced;
  padding: 8px 16px;
  border: 1px solid rgb(255, 255, 255);
 // box-shadow: 0 10px 25px 0 rgba(#b79ced, 1.0); //
}
